*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body{
    background-color: #fceec8;
}

.container{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    position: relative;
}

.left-content,.right-container{

    flex-basis: 50%;
    flex-wrap: wrap;
}

.card{
    position: relative;
    cursor: pointer;
    width: 45%;
    background-color: #9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    margin: 15px;
    box-sizing: border-box;
}
.left-content>span{

    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
}

.card h2{
    font-size: 18px;
    margin: 10px 0px;
}

.card h2:first-letter{
    text-transform: uppercase;
}

.card div{
    display: flex;
    align-items: center;
}

.card img{
    width: 100px;
}

.card>div h2{
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 15px;
    padding: 3px;
}

.left-content{
    display: flex;
    max-width: 50%;
}

.right-content{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 50%;
    justify-content: center;
    right: 0px;
}
.right-content img{
    margin: 1.5rem;
    height: 140px;
}
.right-content h1:first-letter{
    text-transform: uppercase;
}

.right-content h1{
    font-weight: bold;
    font-size: 32px;
}


.pokeInfo{
    position:fixed ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;

}

.pokeInfo .hed{width: auto;
    font-size: 24px;
    top: -25px;
    position: relative;
}

.pokeInfo h3{
 font-size: 18px;
}

.pokeInfo h3::first-letter{
    text-transform: uppercase;
}

.abilities{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}

.base-stat{
    margin-top: 1rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
}


.lang {
    position: fixed;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 0px;
    right: 0;
    top: 30px;
}


.lang button {
    text-decoration: none;
    display: inline-block;
    margin: 5px 15px;
    padding: 5px 25px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #282c34;
    /* font-family: 'Montserrat', sans-serif; */
    transition: .4s;
    background-color: #9edef9;
  }
  .lang button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .lang button:hover:after {
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }

  .lang__block-header{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }





  .themes {
    position: fixed;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 0px;
    right: 0;
    bottom: 30px;
}


.themes button {
    text-decoration: none;
    display: inline-block;
    margin: 5px 15px;
    padding: 5px 25px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #282c34;
    /* font-family: 'Montserrat', sans-serif; */
    transition: .4s;
    background-color: #9edef9;
  }
  .themes button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .themes button:hover:after {
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }

  .themes__block-header{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }